doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container 
      aside  
        nav
          ul 
            li 
              a(href="/") Home
            if !currentUser  
              li 
                a(href="/register") register
            li 
              if currentUser 
                a(href="/logout") Logout 
              else 
                a(href="/login") Login
            if currentUser && !currentUser.isMember  
              li 
                a(href="/request-membership") Request membership
            if currentUser 
              li 
                a(href="/post") New post
              if currentUser && currentUser.isMember && !currentUser.isAdmin 
                li 
                  a(href="/admin-request") Become Admin 
      main
        block content 
    