extends layout 

block content 
  h1=title

  
  form(action="" method="post" class="regform") 
    
    .form-field 
      label(for="firstname") First name:
      input(type="text" name="firstname" ) 
    
    .form-field 
      label(for="lastname") Last name:
      input(type="text" name="lastname" ) 
    
    .form-field 
      label(for="email") Email:
      input(type="text" name="email" ) 
    
    .form-field 
      label(for="password") Password:
      input(type="password" name="password") 
    
    .form-field 
      label(for="passwordconfirm") Password Confirm:
      input(type="password" name="passwordconfirm")

    button(type="submit") Register 

  if errors 
    ul(class="err-ul")
      for err in errors 
        li!= err.msg